{% load staticfiles %}
<html>
	<head>
		<title>Cooktopper</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/cooktopper.css' %}">
	</head>

	<body>
		<div class="burner">
			<p><h1>Boca {{burner.description}}</h1></p>
			<p>Temperatura: {{burner.temperature.description}}</p>
			<p>Estado: {{burner.burner_state.description}}</p>
		</div>

	</body>
</html>

