{% load staticfiles %}
{% load cooktopper_extras %}
<html>
	<head>
		<title>Cooktopper</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/cooktopper.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/menu.css' %}">
		<script src="{% static "jquery/dist/jquery.js" %}"></script>
		<script src="{% static "js/program_burner.js" %}"></script>

		<script src="{% static "momentjs/min/moment.min.js" %}"></script>

		<script src="{% static "bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}">

		<body class="black-background">
			{% include "/home/igor/pi2/display_app/cooktopper/templates/cooktopper/menu.html" %}
				<div class="row vertical-align">
					<div class="col"></div>
					<div class="col-ms-4">
						<h6><br> Escolha a boca que você deseja programar</h6>
					</div>
					<div class="col"></div>
				</div>
				<div class="row vertical-align">
					<div class="col"></div>
					{% for burner in burners %}
						<div class="col-md-3">
							{% if burner.burner_state.description == 'Ligada' %}
								<a href="/program_burner/{{burner.id}}"><img class="img-fluid-choose" src="../../static/image/fire_on.png" alt=""></a>
							{% else %}
								<a href="/program_burner/{{burner.id}}"><img class="img-fluid-choose" src="../../static/image/fire_off.png" alt=""></a>
							{% endif %}
						</div>
						<div class="col-ms-1">
							{% if burner.burner_state.description == 'Ligada' %}
								<span class="badge badge-pill badge-danger">{{burner.burner_state.description}}</span>
								<span class="burner-info"><i class="fa fa-thermometer-empty"></i> {{burner.temperature.description}}</span>
							{% else %}
								<span class="badge badge-pill badge-light">{{burner.burner_state.description}}</span>
							{% endif %}
						</div>
						{% if burner.description == '1' %}
							<div class="col-md-1">
								<div class="mask"></div>
							</div>
						{% endif %}
					{% endfor %}
					<div class="col"></div>
				</div>
		</body>
</html>
