{% load staticfiles %}
<html>
	<head>
		<title>Cooktopper</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/cooktopper.css' %}">
	</head>

	<body>
		<h1><center>HomePage</center></h1>

		{% for request in request_json %}
			<p>{{request.id}}</p>
		{% endfor %}

		{% for burner in burners %}
			<div class="burner">
				<p>
					<h1><a href ={% url 'burner' burner.id %} >{{burner.description}}</a></h1>
					{{burner.temperature.description}}
					{{burner.burner_state.description}}
				</p>
			</div>
		{% endfor %}
	</body>
</html>


