<link rel="stylesheet" href="{% static 'css/cooktopper.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-expand-sm navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">CookTopper</a>
          </div>
          <div id="nav-content justify-content-end">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="/choose_burner.html">Programar boca</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="/about-us">Programar desligamento</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="/help">Ajuda Topper</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row vertical-align">
    <div class="col"></div>
    <div class="col">
      <img id="logo" src="../../static/image/logo_fogao_branca.png" alt="">
    </div>
    <div class="col"></div>
  </div>
