{% load staticfiles %}
{% load cooktopper_extras %}
<html>
	<head>
		<title>Cooktopper</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/cooktopper.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/menu.css' %}">
		<script src="{% static "jquery/dist/jquery.js" %}"></script>
		<script src="{% static "js/program_burner.js" %}"></script>

		<script src="{% static "momentjs/min/moment.min.js" %}"></script>

		<script src="{% static "bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}">

		<body class="black-background">
			<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-expand-sm navbar-fixed-top" role="navigation">
			      <div class="container-fluid">
			          <div class="navbar-header">
			            <a class="navbar-brand" href="/">CookTopper</a>
			          </div>
			          <div id="nav-content justify-content-end">
			              <ul class="nav navbar-nav navbar-right">
												<li class="nav-item"><a class="nav-link" href="choose_burner">Programar boca</a>
			                  </li>
			                  <li class="nav-item"><a class="nav-link" href="/about-us">Programar desligamento</a>
			                  </li>
			                  <li class="nav-item"><a class="nav-link" href="/help">Ajuda Topper</a>
			                  </li>
			              </ul>
			          </div>
			      </div>
			  </div>
			  <div class="row vertical-align">
			    <div class="col"></div>
			    <div class="col">
			      <img id="logo" src="../../static/image/logo_fogao_branca.png" alt="">
			    </div>
			    <div class="col"></div>
			  </div>

		<form action="" method="get">
			<section id="services">
					<div class="row vertical-align">
						<div class="col"></div>
						<div class="col-ms-4">
							<h6> Programe o horário de acionamento do seu fogão</h6>
						</div>
						<div class="col"></div>
					</div>
					<!-- <div class= "col horizontal-align"><br></div> -->
					<div class="row vertical-align">
						<div class="col-md-3" style="margin-left: 2%;">
							{% if burner.burner_state.description == 'Ligada' %}
								<img class="img-fluid" src="../../static/image/fire_on.png" alt="">
							{% else %}
								<img class="img-fluid" src="../../static/image/fire_off.png" alt="">
							{% endif %}
						</div>
						<div class="col-ms-1" style="margin-right: 2%;">
							{% if burner.burner_state.description == 'Ligada' %}
								<span class="badge badge-pill badge-danger">{{burner.burner_state.description}}</span>
								<span class="burner-info"><i class="fa fa-thermometer-empty"></i> {{burner.temperature.description}}</span>
								<span class="burner-info"><i class="fa fa-clock-o"></i> {{current_time|sub_time:burner.time}}</span>
							{% else %}
								<span class="badge badge-pill badge-light">{{burner.burner_state.description}}</span>
							{% endif %}
						</div>
						<div class="col-md-1">
								<div class="mask"></div>
						</div>


						<div class="col-ms-5">
							<div class="row vertical-align">
								<div class="col-ms-2">
									<span class="burner-info"  style="margin-left: 63%;"> Horário: </span>
								</div>
									<div class="col-ms-1 horizontal-align" style="margin-left: 5%;">
											<input id="time" type="time" name="start_time">
									</div>
									<div class="col"></div>
								</div>
								<div class= "col horizontal-align"><br></div>
							<div class="row vertical-align">
								<div class="col-ms-2">
									<span class="burner-info"  style="margin-left: 45%;">Desligar às:<br>(opcional) </span>
								</div>
								<div class="col-ms-1 horizontal-align" style="margin-left: 5%;">
										<input id="time2" type="time2" name="finish_time">
								</div>
							</div>
							<div class="row vertical-align" style="margin-top: 3%;">
								<div class="col-ms-2">
									<span class="burner-info" style="margin-left:3%;">Temperatura: </span>
								</div>
								<div class="col-ms-6">
									<div class="btn-group" role="group" aria-label="Basic example">
										<div style="margin-left: 13%;"><button type="button" class="btn btn-info" name="new_temperature" value="baixa">Baixa</button></div>
										<div style="margin-left: 13%;"><button type="button" class="btn btn-warning" name="new_temperature" value="media">Média</button></div>
										<div style="margin-left: 13%;"><button type="button" class="btn btn-danger" name="new_temperature" value="alta">Alta</button></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row horizontal-align">
						<div class="col-ms-2">
							<form class="btn-group" action="/" role="group" aria-label="Basic example"  style = " margin-botton: 5%;">
								<button type="submit" class="btn btn-danger" value="off" name="turn_burner" style = "margin: 0% 0% 5% 30%;">Voltar</button>
							</form>
						</div>
						<div class="col" id="no-content">
						</div>
						<div class="col-ms-2">
							<div class="btn-group" role="group" aria-label="Basic example"  style = "margin-right: 5%;">
								<button type="submit" class="btn btn-success" style = "margin-right: 25%;">Confirmar</button>
							</div>
						</div>
					</div>
			</section>
		</form>
	</body>
</html>
