{% load staticfiles %}
{% load cooktopper_extras %}
<html>
	<head>
		<title>Cooktopper</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/cooktopper.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">

		<script src="{% static "jquery/dist/jquery.js" %}"></script>
		<script src="{% static "js/program_burner.js" %}"></script>
		
		<script src="{% static "momentjs/min/moment.min.js" %}"></script>
		<script src="{% static "bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}">

	</head>
	<body class="black-background">
		<form action="" method="get">
			<section id="services">
					<div class="row vertical-align">
						<div class="col"></div>
						<div class="col">
							<img id="logo" src="../../static/image/logo_fogao_branca.png" alt="">
						</div>
						<div class="col"></div>
					</div>
					<div class="row vertical-align">
						<div class="col"></div>
						<div class="col-ms-4">
							<h5> Programe o horário de acionamento do seu fogão</h5>
						</div>
						<div class="col"></div>
					</div>
					<div class= "col horizontal-align"><br></div>
					<div class="row vertical-align">
						<div class="col-md-3">
							{% if burner.burner_state.description == 'Ligada' %}
								<img class="img-fluid" src="../../static/image/fire_on.png" alt="">
							{% else %}
								<img class="img-fluid" src="../../static/image/fire_off.png" alt="">
							{% endif %}
						</div>
						<div class="col-md-1">
								<div class="mask"></div>
						</div>

						
						<div class="col-md-8">
							<div class="row vertical-align">
								<div class="col-ms-2">
									<span class="burner-info">Horário: </span>
								</div>
									<div class="col-ms-4 horizontal-align">
											<input id="time" type="time" name="start_time">
									</div>
									<div class="col"></div>
								</div>
								<div class= "col horizontal-align"><br></div>
							<div class="row vertical-align">
								<div class="col-ms-2">
									<span class="burner-info">Duração em minutos:<br>(Não obrigatória) </span>
								</div>
								<div class="col-ms-4">
									<input type="number" name="duration" min="0" max="120" step="5" value="0">
								</div>
							</div>
							<div class="row vertical-align">
								<div class="col-ms-2">
									<span class="burner-info">Temperatura: </span>
								</div>
								<div class="col-ms-6" style="margin-left: 5%;">
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="submit" class="btn btn-info" name="new_temperature" value="baixa" style="margin-left: 20%;">Baixa</button>
										<button type="submit" class="btn btn-warning" name="new_temperature" value="media" style="margin-left: 20%;">Média</button>
										<button type="submit" class="btn btn-danger" name="new_temperature" value="alta" style="margin-left: 20%;">Alta</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row horizontal-align">
						<div class="col-ms-2">
							<div class="btn-group" role="group" aria-label="Basic example"  style = "margin-left: 5%;">
								<button type="submit" class="btn btn-danger" value="off" name="turn_burner" style = "margin-left: 25%; margin-botton:3%;">Cancelar</button>
							</div>
						</div>
						<div class="col" id="no-content">
						</div>
						<div class="col-ms-2">
							<div class="btn-group" role="group" aria-label="Basic example"  style = "margin-right: 5%;">
								<button type="submit" class="btn btn-success" style = "margin-right: 25%; margin-botton:3%;">Confirmar</button>
							</div>
						</div>
					</div>
			</section>
		</form>
	</body>
</html>
