{% load staticfiles %}
{% load cooktopper_extras %}
<html>
	<head>
		<title>Cooktopper</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/card_style.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  </head>
	<body class="black-background">
		<section id="register">

				<div class="row row-margin-bottom">
					<div class="col-sm-4"></div>
						<img src="../../static/image/logo_fogao_branca.png">

			 <div class="col-md-4">
			 </div>
				<div class="col-md-4 no-padding lib-item" data-category="view">
						<div class="lib-panel">
								<div class="row box-shadow">
										<div class="col-md-6">
												<img class="lib-img-show" src="../../static/image/qr_image.png">
										</div>
										<div class="col-md-6">
												<div class="lib-row lib-header">
														Registre seu mobile
														<div class="lib-header-seperator"></div>
												</div>
												<div class="lib-row lib-desc">
														Ao ler o QRCode ao lado através da aplicação mobile
														no seu aparelho mobile, você poderá utilizar seu fogão mesmo fora de casa!
														Todas as funcionalidades aqui presentes também estão disponíveis no app.
												</div>
										</div>
								</div>
						</div>
				</div>

			<div class="col-md-4">
			</div>
		</div>

    </section>
	</body>
</html>
